@font-face {
    font-family: 'fontTitle';
    src: url('./fonts/Anton/Anton-Regular.ttf');
}

@font-face {
    font-family: 'fontRegular';
    src: url('./fonts/Objective/Objective-Regular.otf');
}

@font-face {
    font-family: 'fontMedium';
    src: url('./fonts/Objective/Objective-Medium.otf');
}

@font-face {
    font-family: 'fontLight';
    src: url('./fonts/Objective/Objective-Light.otf');
}

@font-face {
    font-family: 'fontBold';
    src: url('./fonts/Objective/Objective-Bold.otf');
}

@font-face {
    font-family: 'fontExtraB';
    src: url('./fonts/Objective/Objective-ExtraBold.otf');
}

.font-title {
    font-family: "fontTitle";
}

.fontRegular,
.font-regular {
    font-family: "fontRegular";
}

.fontMedium,
.font-medium {
    font-family: "fontMedium";
}

.fontLight,
.font-light {
    font-family: "fontLight";
}

.fontBold,
.font-bold {
    font-family: "fontBold";
}

.fontExtraB,
.font-extra-bold {
    font-family: "fontExtraB";
}